.wm-director{
  margin-top: 150px;
  display: grid;
  grid-template-areas:
    "consults"
    "results";
  grid-template-rows: 100px auto;
  min-height: 500px;
  gap: 8px;
}

.wm-director-consults{
  grid-area: consults;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  overflow: scroll;
  border-radius: 5px;
}

.wm-director-consults > button{
  width: 100px;
}

.wm-director-results{
  grid-area: results;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wm-input-date{
  border: none;
  border-bottom: solid 1px #1977cc;
  border-radius: 8px;
}

@media screen and (max-width: 800px){
  .wm-director-consults{
    justify-content: start;
  }
}
