.wm-profile{
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.wm-profile-info{
  display: flex;
  flex-direction: row;
  justify-content: left;
}


.wm-profile-infoAvatar{
  width: 72px;
  height: 72px;
  border-radius: 1000px;
  border: solid 1px #1977cc;
}

.wm-profile-infoNames{
  display:flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
}

.wm-profile-infoNames-username{
  font-weight: bold;
  font-size: 20px;
}

.wm-profile-infoNames-role{
  font-size: 16px;
}

.wm-personal{
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.wm-personal-name{
  font-weight: bold;
  font-size: 20px;
}

.wm-changePassword{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wm-button{
  border: none;
  background-color: #1977cc77;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.wm-changePassword-deploy{
  padding: 16px 32px;
  width: 500px;
  max-width: 50%;
}

.wm-button:hover{
  background-color: #1977cc44;
  cursor: pointer;
}

.wm-changePassword-modal{
  position: fixed;
  top: 200px;
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px
}

.wm-changePassword-modal, .wm-changePassword-modal > form > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.wm-changePassword-modal-close{
  width: 100%;
  display: flex;
  justify-content: end;
}

.wm-changePassword-modal-close-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.wm-changePassword-modal-close-button > img {
  border-radius: 10px;
  transition: background-color .3s ease;
}

.wm-changePassword-modal-close-button > img:hover {
  background-color: red;
}

.wm-changePassword-modal > form > div > input{
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #1977cc;
  outline: none;
  margin-left: 5px;
}

.wm-changePassword-modal-button{
  padding: 8px 16px;
}
