.wm-aside {
  position: fixed;
  top: 55px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 350px;
  max-width: 90%;
  height: 100%;
  z-index: 10;
  transition: left .4s ease;
  padding-right: 0;
}

.wm-aside-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  margin-top: 10px;
  width: 60%;
  color: black;
  text-decoration: none;
  transition: border-bottom .3s ease;
  transition: color .3s ease;
}

.wm-aside-button:hover{
  border-bottom: solid 1px  #1977cc;
  border-radius: 5px;
  color: #1977cc;
}

.wm-aside-button > img {
  margin-right: 10px;
}

.wm-aside > nav > ul {
  list-style: none;
  margin: 0;
  padding: 20px;
}

.wm-aside > nav > ul > li{
  font-size: 18px;
}

.wm-aside > nav > ul > li > button{
  font-size: 18px;
}

.wm-aside-profileInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1977cc;
  margin-left: 0;
  min-height: 80px;
  padding: 10px;
}

.wm-aside-profile-infoAvatar{
  border-radius: 1000px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: solid 1px white;
}

.wm-aside-profile-infoNames{
  display: flex;
  flex-direction: column;
  align-items: start;
}
