* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/foto4.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    text-align: center;
    margin-top: 80px;
    background: rgba(54, 199, 224, 0.1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 400px;
    max-width: 350px;
}



.login-header h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.input-group {
    position: relative;
    margin-top: 1.5rem;



}

.input-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    font-size: 1.2rem;
}

.input-group input {
    width: 100%;
    padding: 12px 40px;
    border: 2px none #ddd;
    border-bottom: 2px solid #fff7;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #2193b0;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #2193b0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background: #1b7a94;
}

.hospital-icon {
    color: #2193b0;
    font-size: 3rem;
    margin-bottom: 1rem;
}


input{
    background-color:#fff6;
}

h2{
}


.remenber{
    margin: 10px 4px;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: #000b;
    font-size: 12px;
    float: right;
    font-style: italic;

}


.icon-eye {
    position: relative;
    right: 44px;  /* Ajusta este valor para posicionar el icono */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

input::placeholder{
    font-style: italic;
}
