*{
  box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    margin-top: 120px;
    background-color: #edf4f5;
}


.header{
    color: white;
    background-color: #1977cc;
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px grey;
    height: 10%;
    z-index:100;
}


.header-Titulo{
    font-size: 25px;
    margin-left: 10px;
}


.material-icons{
    float: right;
    margin-right: 55px;
    margin-top: 6px;
    cursor: pointer;
}

.close{
    margin-right: 15px;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    border: none;
    position: fixed;
    right: 0;
    width: 30px;
    cursor: pointer;
}


.recepcion__subtitle,.mostrar__pacientes {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:auto;
    border-radius: 10px;;
    font-size: 0.8rem;
    color:#1977cc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 5px;
    background-color: #fff;
}

.mostrar__pacientes {
    width: 85%;
    margin-top: 20px;
    color:#444;

}

.mostrar__pacientes label {
    font-weight: 800;
}

.mostrar__pacientes select {
    padding: 4px 3px ;
    background-color: #fff;
    border-radius: 5px;
    font-style: italic;
    margin-left: 5px;
}


.mostrar__ubicacion {
    width: 85%;
    padding: 10px 2px ;
}

.mostrar__ubicacion--camas {
    display: flex;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 90%;
    margin-left: 5px;
}

.button {
    width: 60px;
    background-color: #28a745;
    color: #fff ;
    border: none;
    border-radius: 4px;
    height: 25px;
}

.button:hover {
  cursor:pointer;
}


.management-button:hover {
  cursor:pointer;
}

.button--remove {
    background-color: #e00;
}

.button-search-room {
  background-color: #1977cc;
  color: white;
  height: 28px;
  margin-left: 10px;
}

.button-search {
  background-color: #1977cc;
  color: white;
  margin-left: 15px;
  border: none;
  width: 100%;
}

span {
  font-weight: bold;
}

.sp {
  margin: 3px 8px;
  font-weight: bold;
  font-size: 14px;
}

span + span {
  width: 250px;
  text-align: left;
}

.mostrar__ubicacion1,
.mostrar__ubicacion2{
    display:inline-block;
    width: 49%;
}

.navigation{
    opacity: 1;
    padding: 5px;
    transition: opacity 0.3s ease;
  }

.navigation-item {
  margin-left: 0;
}

.navigation-item:hover{
  background-color: #1977cc33;
}


.info1, .info2, .info3, .info4{
  opacity: 0;
  transition: opacity 1s ease;
  display: block;
}

.navigation-nav i:hover {
  font-size: 25px;
}

.navigation-item span{
  margin-left: 20px;
}

.first {
  margin-top: 40px;
}

.navigation-nav {
  left: 0;
  top: 10%;
  width: 13%;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 90%;
  justify-content: flex-start;
  margin-bottom: 0px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-right: solid 1px #2224;
}

.navigation-nav a {
  text-decoration: none;
  color: #343a40;
  font-size: 14px;
}
.navigation-nav i{
  font-size: 20px;
  margin-bottom: 2px;
  color: #1977cc;
  transition: font-size 0.3s ease;
  margin-left: 20px;
  margin-top: 10px;
}

.footer {
  width: 87%;
  margin-left: 13%;
  height: 350px;
  bottom: 0;
  border-top: solid 1px #2224;
  background-color: #1977cc;
  color: white;
  position: relative;
  display: flex;
  text-align: center;
  margin-top: 200px;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: solid 1px #2224;
  font-size: 0.9rem;
  line-height: 8px;
}

.footer-bottom span {
  font-weight: bold;
}


.footer-content{
  display: inline-block;
  margin-left: 100px;
  margin-top: 50px;
  width: 30%;
}

.footer-logo{
  margin-top: 0;
}

.footer-logo img{
  max-width: 100%;
  height: auto;
}

.developers{
  position: relative;
  text-align: left;
}

.footer-content-social {
  top: 0px;
}

.footer-content a {
  color: white;
  font-size: 24px;
  margin-left: 10px;
}
 main {
    flex: 1;
    width: 87%;
    margin-left: 13%;
 }
