body {
    font-family: sans-serif;
    background-color: #edf4f5;
}

span {
  font-weight: bold;
}

.header2{
    color: white;
    background-color: #1977cc;
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px grey;
    height: 10%;
    z-index:100;
}




.header-Titulo{
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 20px;
}


.container--search{
    margin-top: 120px;
    height: 100%;
}

.salir{
    margin-right: 15px;
    margin-top: 3px;
    background-color: transparent;
    color: white;
    border: none;
    position: fixed;
    right: 0;
    width: 30px;
    cursor: pointer;
}

.modal-backdrop {
    background-color: rgba(0,0,0,0.5);
}

.search-box {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

    .table-responsive {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn-edit {
    color: #ffc107;
    }

.btn-delete {
    color: #dc3545;
}
.add-button {
    margin: 20px 0;
}

.footer{
    opacity: 1;
    padding: 5px;
    transition: opacity 0.3s ease;
  }

.footer-item {
  margin-left: 20px;
}

.info1, .info2, .info3, .info4{
  opacity: 0;
  transition: opacity 0.3s ease;
  display: block;
  line-height: 16px;
}

.footer-nav i:hover {
  font-size: 25px;
}

.first {
  margin-top: 20px;
}

.footer-nav {
  left: 0;
  top: 10%;
  width: 13%;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 90%;
  justify-content: flex-start;
  margin-bottom: 0px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-right: solid 1px #2224;
}

.footer-nav a {
  text-decoration: none;
  color: #343a40;
  font-size: 14px;
}
.footer-nav i{
  font-size: 20px;
  margin-bottom: 2px;
  color: #1977cc;
  transition: font-size 0.3s ease;
}

 main {
    flex: 1;
 }

