* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif,Arial, Helvetica;
}




/*Navar left*/

.nav {
    margin-top: 0;
    width: 350px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: -350px;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgb(0, 0 , 0, 1);
}

.nav i{
    color: #1977CC;
}


.nav.active {
    left: 0;
}

.hamburger {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 1001;
    cursor: pointer;
    padding: 10px;
    color: #fff;
}





.nav.active + .hamburger div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.nav.active + .hamburger div:nth-child(2) {
    opacity: 0;
}

.nav.active + .hamburger div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav ul {
    list-style: none;
    padding: 50px 0;
}

.nav ul li {
    padding: 15px 30px;
}

.profile {
	display: flex;
	align-items: center;
	padding: 40px;
	background-color: #1977CC;
	color: #fff;
} 

.profile img {
	margin-top: 20px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	} 

.profile .name {
	font-size: 18px;
	font-weight: bold;
}

.nav ul li a {
    color: #222;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav ul li a i {
    margin-right: 10px;
    width: 20px;
}

.topnav {
    max-width: 100%;
    height: auto;
    background-color: #1977CC;
    padding: 15px 20px;
    position: sticky;
    top: 0;
}

.close{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color:transparent;
    border: none;
    color: #fff;
}

.close-button{
    color: white;
    background-color: transparent;
    border: none;
}

.topnav-titulo{
    font-size: 25px;
    margin-left: 50px;
    color: #fff;
}

/*Contenido principal*/

.content {
    margin-left: 0;
    min-height: 100%;
    padding: 20px;
    background-color: #edf4f5;
}


.conten__titulo{
    max-width: 80%;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0 , 0, 0.1);
    color: #1977CC;
}

.section__container{
    margin: auto;
    margin-top: 10px;
    box-shadow:0px 2px 5px rgba(0, 0, 0,0.1);
    max-width: 80%;
    border-radius: 5px;
    background-color: #fff;
}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:px;
    width: 50%;

}

.form label {
    font-weight: 800;
}

.form button{
    padding: 5px 12px ;
    margin-left: 5px;
    background-color: #1977cc;
    color:white;
    border:none;
    border-radius: 2px;
}

.form button:hover{
		cursor:pointer;
}

.form select{
    padding: 4px 3px;
    background-color: #fff;
    border-radius: 5px;
    font-style: italic;
    margin-left: 5px;
}

/*FORMULARIOS*/

span {
  font-weight: bold;
}

p {
  font-size: 16px;
}

input {
  border: 1px solid #1977cc;
  display: inline-block;
  width: 50%;
  outline: none;
}

input[type="number"] {
  width: 60px;
}

input[type="checkbox"] {
  width: 15px;
}

textarea {
  border-radius: 5px;
  border: 1px solid #1977cc;
}

#name, #cprev, #medac, #alerg, #phoneNumber, #dni {
  border: none;
  border-bottom: 1px solid #1977cc;
  padding: 4px 1px;
}

.informacion_del_paciente {
  display: flex;
}

.campo_busqueda,.resultados_busqueda{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin:auto;
    border-radius: 10px;;
    font-size: 0.8rem;
    color:#1977cc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
}

.resultados_busqueda {
    color: #222;
}

.campo_busqueda-sala {
  display: inline-block;
  margin-left: 10px;
}


label{
    margin: 10px 5px;
    font-weight: 600;
    flex-grow: 1;
    color: #222;
    font-size: 1rem;
}


/*Footer*/

.footer {
    background-color: #1977CC;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content:space-around;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.3rem;

}

.footer-section {
    flex:1;
    width: auto;
    padding: 0 20px;
}

.footer-logo img{
    max-width: 500px;
}


.developers ul, .social-media ul {
    list-style: none;
}

.developers li, .social-media li {
    margin: 10px 0;
}

.social-media{
    justify-content: center;
}


.social-media a {
    color: white;
    text-decoration: none;
}

.social-media i {
    margin-right: 10px;
    width: 20px;
}



.copyright {
    text-align: center;
    padding: 20px 0;
    background-color: #1977CC;
    color: white;
    justify-content: center;
    border-top: 1px solid #fff;
    font-size: 1.3rem;
    font-weight: bold;
}

















/* Media queries for responsive design */
@media screen and (max-width: 760px) {
    
    .close{
        position: absolute;
        right: 0;
        margin-right: 20px;
        background-color:transparent;
        border: none;
        color: #fff;
    }
    
    .close-button{
        color: white;
        background-color: transparent;
        border: none;
    }
    

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    
    .footer-section {
        margin: 20px 0;
    }
    
    
    .content {
        padding: 10px;
    }
    
    .nav {
        width: 200px;
        left: -200px;
    }
    
    .nav ul li a {
        font-size: 16px;
    }

    .footer-content {
        font-size: 1rem;
    }

    .footer-logo img{
        width: 250px;

    }

    .footer-content,.copyright {
        font-size: 1.2rem;
    }


}

@media screen and (max-width: 480px) {

    .close{

        position: absolute;
        right: 0;
        margin-right: 10px;
        margin-top: 5px;
        background-color:transparent;
        border: none;
        color: #fff;
    }
    
    .close-button{
        color: white;
        background-color: transparent;
        border: none;
    }

    .topnav a {
        padding: 0 10px;
        font-size: 14px;
    }
    .topnav i{
        font-size: 10px;
    }
    
    .footer-section h3 {
        font-size: 18px;
    }
    
    .hamburger {
        top: 10px;
        left: 10px;
    }
    
    .nav {
        width: 250px;
        left: -250px;
    }


    .footer-logo img{
        max-width: 200px;
    }

    .footer-content,.copyright {
        font-size: 1rem;
    }

    .conten__titulo{
        max-width: 90%;
        font-size: 0.9rem;
        padding: 5px;
    }

    .section__container{
        max-width: 90%;
    }

.mostrar__ubicacion {
    flex-direction: column;
    gap:2px
}

.ubicacion {
    width: 100%;
}

.ubicacion * {
    margin-left: 5px;
}

}


@media screen and (max-width: 1080px) {
    
    .close{
        position: absolute;
        right: 0;
        margin-right: 20px;
        background-color:transparent;
        border: none;
        color: #fff;
    }
    
    .close-button{
        color: white;
        background-color: transparent;
        border: none;
    }
    

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    
    .footer-section {
        margin: 20px 0;
    }
    
    
    .content {
        padding: 10px;
    }
    
    .nav {
        width: 200px;
        left: -200px;
    }
    
    .nav ul li a {
        font-size: 16px;
    }

    .footer-content {
        font-size: 1rem;
    }

    .footer-logo img{
        width: 250px;

    }

}
