.wm-modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: red;
  max-width: 90%;
  width: 300px;
  border: solid 1px #1977cc;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.wm-modal-size1{
  width: 300px;
  height: 350px;
}

.wm-modal-center{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wm-modal-bg-white{
  background-color: #fff;
}

.wm-modal-close{
  display: none;
}

.wm-modal-open{
  display: flex;
}

.wm-aside-close{
  display: flex;
  justify-content: end;
}

.wm-aside-close-button{
  background-color: transparent;
  border: none;
}
