body {
	margin: 0;
	padding: 0;
}


.grid-container {
	min-height:100vh;
	min-width: 100vw;
  display: grid;
	grid-template-rows: minmax(60px,60px) minmax(65px,65px) minmax(30px,30px) auto minmax(160px,160px);
	grid-template-columns: minmax(200px,1fr) 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'header-title header-title header-title header-title header-title'
		'profile main main main right'
		'profile-sec main main main right'
    'menu main main main right'
    'footer footer footer footer footer';
  background-color: #aaa;
	gap: 4px;
}


.grid-container > .item8{
	grid-area: profile-sec;
	background-color: #1977cc;
	padding: 2px;
}

.grid-container > div {
  font-size: 30px;
  background-color: #fff;
	display: block;
	border-radius: 5px;
	padding: 10px;
  font-size: 30px;
	opacity: 0.9;
  box-shadow: 0px 2px 5px rgb(0, 0 , 0, 1);
}


.grid-container > div:hover {
}


.grid-container > .item7 {
	display: flex;
	grid-area: header-title;
	border-bottom: solid 1px #222;
	background-color: #1977cc;
	align-items: center;
}


.item8-prof a{
	font-size: 14px;
	display:flex;
	align-items: left;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.grid-container > .item1 {
	grid-area: header;
	justify-content: center;
	border-bottom: solid 1px #222;
	background-color: #1977cc;
}

.icons {
	display:flex;
	justify-content:right;
	padding: 10px;
}

.icons i {
	margin: 5px;
}

.item2 {
	grid-area: menu;
}

.nav{
	font-size:18px;;
}

.nav li{
	margin: 10px;
}

.nav ul {
    list-style: none;
    padding: 10px 0;
}

.nav ul li a {
    color: #222;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
		margil-left: 6px;
}

.sp {
	display: inline-block;
}

.item3 {
	justify-content: center;
	grid-area: main;
}

.item4 {
	justify-content: center;
	grid-area: right;
}

.grid-container > .item5 {
	justify-content: center;
	grid-area: footer;
	border-top: solid 1px #222;
	background-color: #1977cc;
	border-radius: 0;
}

.grid-container > .item6 {
	grid-area: profile;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5px 15px 15px 15px;
	background-color: #1977cc;
	transition: margin 0.4s ease;
}

.grid-container > .item6:hover {
	margin: 5px 5px 5px 5px;
}

.profile {
	display: flex;
	align-items: center;
} 

.profile img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 10px;
} 

.profile .info {
	display: flex;
	flex-direction: column;	
}

.profile .info .name { 
	font-size: 18px; 
	font-weight: bold; 
} 

.profile .info .role { 
	font-size: 14px; 
	font-weight: normal; 
} 





@media (max-width: 600px ){

.grid-container {
	min-height:100vh;
  display: grid;
	grid-template-rows: minmax(10vh,10vh) minmax(11vh,11vh) minmax(4vh,4vh) auto minmax(30vh,30vh);
	grid-template-columns: minmax(140px,1fr) minmax(30px, 1fr) minmax(80px,1fr) 1fr 1fr  minmax(10px, 1fr);
  grid-template-areas:
    'header-title header-title profile menu menu menu'
		'main main main main main main'
		'main main main main main main'
    'main main main main main main'
    'footer footer footer footer footer footer';
  background-color: #2196F3;
}
	.sp {
		display: none;
	}

	ul{
		display: flex;
		flex-direction: row;
		padding: 0 0;
	}

	img{
		display: none;
	}

	.item8-prof{
		display: none;
	}

	.profile{
		padding: 10px;
	}	

	.nav ul {
		padding: 0;
	}

	.item2 nav{
		display: flex;
		justify-content: right;
	}


 	a {
   	margin: 0;
   	padding:0;
	}

	.item2{
		border-bottom: solid 1px #222;
}
	.item6{
		border-bottom: solid 1px #222;
		border-right: none;
}


.item8 {
	padding: 0;
}
}
