<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Presentacion</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link rel="icon" href="favicon-16x16.png" type="image/png">


  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">


</head>

<body class="index-page">
  <header id="header" class="header sticky-top">
    <div class="branding d-flex align-items-center">
    <div class=" position-relative d-flex align-items-center justify-content-between background">
        <h1 class=><i class="bi bi-hospital"></i>  Hospital Ernesto Guevara</h1>
          <nav id="navmenu" class="navmenu">
            <ul class="text-white">
              <li><a href="#about">Conócenos</a></li>
              <li><a href="#services">Servicios</a></li>
              <li><a href="#departments">Departamentos</a></li>
              
              <li>
                  <a href="login/index.html" class="btn btn-secondary" style="background-color: transparent !important;">Autenticarse</a>
              </li>
              <li>
                <a href="login.html" class="btn btn-lg">
                  <i class="fas fa-sign-out-alt"></i> 
                </a>
              </li>
          </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
  </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

      <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>Bienvenidos al Hospital Ernesto Guevara</h2>
          <p>"Comprometidos con tu bienestar"</p>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
              <h3>Por que somos tu mejor eleccion ?</h3>
              <p>
                En nuestro hospital, nos dedicamos a proporcionar un cuidado excepcional y personalizado a cada uno de nuestros pacientes. 
                Ofrecemos una amplia gama de servicios médicos, desde atención de emergencia y consultas especializadas hasta programas de rehabilitación y tratamientos avanzados.
                Nuestro equipo de profesionales altamente capacitados se compromete a brindar un ambiente seguro y acogedor, donde cada paciente recibe el máximo nivel de atención y respeto.
                  Además, contamos con instalaciones modernas y tecnología de última generación para asegurar diagnósticos precisos y tratamientos eficaces.
                  Elegir nuestro hospital significa optar por una atención médica de calidad, 
                centrada en las necesidades individuales de cada paciente, con un enfoque humano y compasivo.
              </p>
              <div class="text-center">
                <a href="#about" class="more-btn"><span>Leer mas</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="d-flex flex-column justify-content-center">
              <div class="row gy-4">
          
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                    <i class="bi bi-clipboard-data"></i>
                    <h4>Historial Médico Completo</h4>
                    <p>Ofrecemos un sistema integral para gestionar y analizar el historial médico de nuestros pacientes, asegurando una atención personalizada y eficiente.</p>
                  </div>
                </div><!-- End Icon Box -->
          
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                    <i class="bi bi-gem"></i>
                    <h4>Tratamientos Innovadores</h4>
                    <p>Nos especializamos en tratamientos avanzados y personalizados que incorporan las últimas tecnologías y descubrimientos médicos.</p>
                  </div>
                </div><!-- End Icon Box -->
          
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                    <i class="bi bi-inboxes"></i>
                    <h4>Cuidados Intensivos</h4>
                    <p>Contamos con una unidad de cuidados intensivos equipada con tecnología de vanguardia para brindar la mejor atención posible a nuestros pacientes críticos.</p>
                  </div>
                </div><!-- End Icon Box -->
          
              </div>
            </div>
          </div>
          
        </div><!-- End  Content-->

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4 gx-5">

          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
          </div>

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <h3>Que te podemos ofrecer</h3>
            <p>
              Nos dedicamos a proporcionar atención médica de la más alta calidad, enfocándonos en la innovación y el bienestar de nuestros pacientes. Nuestro equipo de especialistas trabaja incansablemente para ofrecer soluciones efectivas y personalizadas.
            </p>
            <ul>
              <li>
                <i class="fa-solid fa-vial-circle-check"></i>
                <div>
                  <h5>Chequeos Médicos Completo</h5>
                  <p>Realizamos chequeos médicos exhaustivos para garantizar la salud y el bienestar de nuestros pacientes, detectando posibles problemas de salud tempranamente.</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-pump-medical"></i>
                <div>
                  <h5>Tratamientos de Vanguardia</h5>
                  <p>Ofrecemos tratamientos médicos avanzados utilizando la última tecnología para asegurar los mejores resultados posibles para nuestros pacientes.</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-heart-circle-xmark"></i>
                <div>
                  <h5>Cuidado Cardiovascular</h5>
                  <p>Proveemos un completo cuidado cardiovascular, desde diagnósticos precisos hasta tratamientos y seguimiento personalizado para cada paciente.</p>
                </div>
              </li>
            </ul>
          </div>
          

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-solid fa-user-doctor"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
              <p>Doctores</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-regular fa-hospital"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
              <p>Departamentos</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-flask"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p>Laboratorios</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-award"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p>Condecoraciones</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Título de la Sección -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Servicios</h2>
        <p>Ofrecemos una variedad de servicios médicos para satisfacer las necesidades de nuestros pacientes</p>
      </div><!-- Fin Título de la Sección -->
    
      <div class="container">
    
        <div class="row gy-4">
    
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Cardiología Avanzada</h3>
              </a>
              <p>Proveemos diagnóstico y tratamiento para diversas afecciones cardíacas, utilizando la última tecnología en cardiología.</p>
            </div>
          </div><!-- Fin Elemento de Servicio -->
    
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Farmacología Integral</h3>
              </a>
              <p>Ofrecemos un amplio rango de medicamentos y terapias personalizadas para el tratamiento eficaz de diversas enfermedades.</p>
            </div>
          </div><!-- Fin Elemento de Servicio -->
    
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Atención al Paciente</h3>
              </a>
              <p>Brindamos una atención centrada en el paciente, asegurando una experiencia cómoda y satisfactoria en nuestro hospital.</p>
            </div>
          </div><!-- Fin Elemento de Servicio -->
    
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Genética y Biotecnología</h3>
              </a>
              <p>Utilizamos técnicas de última generación para el diagnóstico y tratamiento de enfermedades genéticas y hereditarias.</p>
            </div>
          </div><!-- Fin Elemento de Servicio -->
    
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-wheelchair"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Rehabilitación Física</h3>
              </a>
              <p>Nuestro programa de rehabilitación está diseñado para ayudar a los pacientes a recuperar su movilidad y fuerza después de una lesión.</p>
            </div>
          </div><!-- Fin Elemento de Servicio -->
    
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-notes-medical"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Documentación Médica</h3>
              </a>
              <p>Gestionamos la documentación médica de nuestros pacientes, asegurando la confidencialidad y precisión de los registros médicos.</p>
            </div>
          </div><!-- Fin Elemento de Servicio -->
    
        </div>
    
      </div>
    
    </section><!-- Fin Sección de Servicios -->
    

    <!-- Departments Section -->
    <section id="departments" class="departments section">

      <!-- Título de la Sección -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Departamentos</h2>
        <p>Explora los diferentes departamentos médicos que ofrecemos para una atención especializada y de calidad</p>
      </div><!-- Fin Título de la Sección -->
    
      <div class="container" data-aos="fade-up" data-aos-delay="100">
    
        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Cardiología</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Neurología</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Hepatología</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Pediatría</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Cuidado Ocular</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="departments-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Cardiología</h3>
                    <p class="fst-italic">Proporcionamos una atención integral para las enfermedades cardíacas, utilizando tecnología avanzada y enfoques innovadores.</p>
                    <p>Nuestro equipo de cardiólogos está comprometido con la prevención, diagnóstico y tratamiento de diversas afecciones del corazón, asegurando la mejor atención para cada paciente.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-1.jpg" alt="Cardiología" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Neurología</h3>
                    <p class="fst-italic">Especializados en el tratamiento de trastornos del sistema nervioso, ofrecemos diagnósticos precisos y tratamientos eficaces.</p>
                    <p>Nuestros neurólogos utilizan técnicas avanzadas para tratar condiciones neurológicas complejas, brindando atención personalizada y apoyo continuo a nuestros pacientes.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="Neurología" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Hepatología</h3>
                    <p class="fst-italic">Proveemos cuidado experto para enfermedades del hígado, incluyendo cirrosis, hepatitis y más.</p>
                    <p>Nuestro equipo de hepatólogos utiliza la última tecnología para ofrecer diagnósticos precisos y tratamientos personalizados, asegurando la mejor atención posible.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-3.jpg" alt="Hepatología" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Pediatría</h3>
                    <p class="fst-italic">Ofrecemos atención médica especializada para niños, desde recién nacidos hasta adolescentes.</p>
                    <p>Nuestro equipo de pediatras está dedicado a la salud y el bienestar de los niños, proporcionando cuidado comprensivo y compasivo.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-4.jpg" alt="Pediatría" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Cuidado Ocular</h3>
                    <p class="fst-italic">Especializados en la salud visual, ofrecemos tratamientos y cirugías para diversas condiciones oculares.</p>
                    <p>Nuestro equipo de oftalmólogos utiliza equipos de última generación para asegurar la mejor atención posible y mejorar la calidad de vida de nuestros pacientes.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-5.jpg" alt="Cuidado Ocular" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    
    </section><!-- Fin Sección de Departamentos -->
    

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Galeria</h2>
        <p>Ofrecemos atención médica especializada y personalizada para satisfacer las necesidades únicas de cada paciente</p>

      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-1.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-2.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-3.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-4.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-5.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-6.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-7.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-8.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>

    </section><!-- /Gallery Section -->

    
  </main>

  <footer id="footer" class="footer light-background">

    

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">2024</strong> <span>Hospital Ernesto Guevara</span></p>
      <div class="credits">
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
