*{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: sans-serif;
    background-color: #edf4f5;
}


.header{
    background: #1977cc;
    color: white;
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px grey;
    height: 10%;
    z-index: 100;
}


.header-Titulo{
    font-size: 25px;
    margin-left: 10px;
}
h3 {
  color: #1977cc;
  font-size: 20px;
  text-align: center;
}

span {
  font-weight: bold;
}

p {
  font-size: 16px;
}

input {
  border: 1px solid #1977cc;
  display: inline-block;
  width: 50%;
}

input[type="number"] {
  width: 60px;
}

input[type="checkbox"] {
  width: 15px;
}

textarea {
  border-radius: 5px;
  border: 1px solid #1977cc;
}

#name, #cprev, #medac, #alerg, #phoneNumber, #dni {
  border: none;
  border-bottom: 1px solid #1977cc;
  padding: 4px 1px;
}


.material-icons{
    color: white;
    float: right;
    margin-right: 65px;
    margin-top: 6px;
    cursor: pointer;
}


.fa-calendar-alt{
    float: right;
    margin-right: 25px;
    margin-top: 9px;
    cursor: pointer;
}

.close{
    margin-right: 15px;
    margin-top: 7px;
    background-color: transparent;
    color: white;
    border: none;
    position: fixed;
    right: 0;
    width: 30px;
    cursor: pointer;
}

.close:hover {
    background-color: #1957cc;
    border-radius: 10px;
    width: 40px;
}


.container{
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.informacion_del_paciente {
  display: flex;
}

.campo_busqueda,.resultados_busqueda{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin:auto;
    border-radius: 10px;;
    font-size: 0.8rem;
    color:#1977cc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
}

.resultados_busqueda {
    color: #222;
}

.campo_busqueda-sala {
  display: inline-block;
  margin-left: 10px;
}


label{
    margin: 10px 5px;
    font-weight: 600;
    flex-grow: 1;
    color: #222;
    font-size: 1rem;
}

form{
    margin:auto;
    margin-top: 10px;
}




.buscar__button{
    background-color: #1967cc;
    border-radius: 5PX;
    border: none;
    font-size: 17px;
    padding: 5px 5px;
    width: 100px;
    cursor: pointer;
    color: #eee;
    display: inline-block;
    margin-left: 10px;
}

.buscar__button:hover{
    background-color: #1957cc;
}

select{
    padding: 4px 10px ;
    background-color: #fff;
    border-radius: 5px;
    font-style: italic;
    margin-left: 5px;
}


.notification-icon {
    position: relative;
    display: inline-block;
}

.number_notification {
    position: absolute;
    top: 20px;
    right: 62px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    position: relative;
    top: 1px;
}


.button__solicitud-operaciones{
    max-width: 45vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.button__solicitud:hover {
  cursor: pointer;
}
.footer{
    opacity: 1;
    padding: 5px;
    transition: opacity 0.3s ease;
  }

.footer-item {
  margin-left: 20px;
}

.info1, .info2, .info3, .info4{
  opacity: 0;
  transition: opacity 0.3s ease;
  display: block;
}

.footer-nav i:hover {
  font-size: 25px;
}

.first {
  margin-top: 20px;
}

.footer-nav {
  left: 0;
  top: 10%;
  width: 13%;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 90%;
  justify-content: flex-start;
  margin-bottom: 0px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-right: solid 1px #2224;
}

.footer-nav a {
  text-decoration: none;
  color: #343a40;
  font-size: 14px;
}
.footer-nav i{
  font-size: 20px;
  margin-bottom: 2px;
  color: #1977cc;
  transition: font-size 0.3s ease;
}

 main {
    flex: 1;
    width: 87%;
    margin-left: 13%;
 }
