.wm-modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: red;
  max-width: 90%;
  width: 300px;
  border: solid 1px #1977cc;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index:50;
}

.wm-modal-size1{
  min-width: 300px;
  min-height: 350px;
  z-index:50;
}

.wm-modal-size2{
  min-width: 500px;
  z-index:50;
}
.wm-modal-center{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wm-modal-bg-white{
  background-color: #fff;
}

.wm-modal-close{
  display: none;
}

.wm-modal-open{
  display: flex;
}
