
body {
    font-family: sans-serif;
    background-color: #edf4f5;
}

span {
  font-weight: bold;
}

.header2{
    background: #1977cc;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 19px ;
    border-bottom-left-radius:20px ;

}


.header__titulo{
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

.container--search{
    margin-top: 120px;
    height: 100%;
}

.salir{
    margin-right: 15px;
    margin-top: 3px;
    background-color: transparent;
    color: white;
    border: none;
    position: fixed;
    right: 0;
    width: 30px;
    cursor: pointer;
}

.modal-backdrop {
    background-color: rgba(0,0,0,0.5);
}

.search-box {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

    .table-responsive {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn-edit {
    color: #ffc107;
    }

.btn-delete {
    color: #dc3545;
}
.add-button {
    margin: 20px 0;
}


.footer{
    width: 100%;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8vh;
    position: fixed;
    bottom: 0;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-nav a {
  text-decoration: none;
  color: #343a40;
  font-size: 14px;
}
.footer-nav i {
  font-size: 20px;
  display: block;
  margin-bottom: 2px;
  color: #1977cc;
}

 main { flex: 1; }
