.wm-room-side-bed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
}

.wm-room-side-bed-icon {
  color: #1977cc;
}

.wm-room-side-bed > div > i {
  margin: 20px 10px;
  font-size: 14px;
}

.wm-room-side-bed > div > button > i {
  font-size: 14px;
}

.wm-room-side-bed > div > span {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

